#floating-panel,
footer > div.inner > div > *,
footer > div.inner > p:first-of-type,
.aboutUs > div.inner > div  p,
.aboutUs > div ul li strong,
.beerList ul li p,
.socialBoard > p,
.panel.ceo > div > div p,
.panel.ceo > div > div:last-of-type b,
.panel.slogan > div > div:last-child p,
.panel.management > div > *:not(h3),
.panel.corevalues > div > *:not(h3),
.panel.location > div > *:not(h3),
.faqArea ul li,
.detailMain div > *,
.detailInfo div.inner > h2,
.detailInfo div.inner > p,
.detailTvcf div p{
    font-family: 'Noto Sans KR';
}
.aboutUs > div h2,
.socialBoard h2,
.panel.ceo > div > div:first-of-type h2,
.faqArea h2{
    font-family: 'Dancing Script';
}
header nav ul li a,
footer p:last-of-type,
.aboutUs > div ul li p,
.beerList ul li a,
.socialBoard > ul li > div strong,
.panel.ceo > div > div:last-child h3,
.panel.slogan > div > div:last-child h3,
.panel.management > div > h3,
.panel.corevalues > div > h3,
.panel.location > div > div:last-child h3,
.indicator li p,
.detailInfo > div.inner > ul li > *,
.detailTvcf div h2{
    font-family: 'Roboto';
}


body{
    background-color: #202020;
}

mark{
    background-color: transparent;
    font-style: normal;
}
header{
    position: fixed;
    padding: 25px 5%;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
}
header:after{
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
}
header h1{
    float: left;
}
header h1 a{
    width: 115px;
    height: 30px;
    display: block;
    text-indent: -9999px;
    background: url("../images/logo_hitejinro.png") no-repeat left top;
    background-size: contain;
}
.detailBg01 header h1 a,
.detailBg04 header h1 a{
    background-image: url("../images/logo_hitejinro_b.png");
}
header input[type="checkbox"]{
    display: none;
}
header input[type="checkbox"] + label{
    float: right;
    display: block;
    width: 30px;
    height: 19px;
    margin-top: 3px;
    position: relative;
    cursor: pointer;
    z-index: 100;
}header input[type="checkbox"] + label span{
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 15px;
    background-color: #fff;
    transition: all 0.5s;
}
header input[type="checkbox"] + label span:first-child{
    top: 0;
}
header input[type="checkbox"] + label span:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
}
header input[type="checkbox"] + label span:last-child{
    bottom: 0;
}
header input[type="checkbox"]:checked + label span:first-child{
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
header input[type="checkbox"]:checked + label span:nth-child(2){
    opacity: 0;
}
header input[type="checkbox"]:checked + label span:last-child{
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}
header nav{
    float: right;
    box-sizing: border-box;
    min-width: 300px;
    height: 100%;
    background-color: rgba(16, 16, 16, 0.95);
    position: fixed;
    top: 0;
    z-index: 10;
    transition: all 0.5s;
}
header input[type="checkbox"]:checked + label + nav{
    right: 0;
}
header nav ul > li{
    text-align: right;
    margin-bottom: 40px;
}
header nav > ul > li > a{
    font-size: 33px;
    line-height: 41px;
    color: #fff;
}
header nav ul > li:nth-child(3) ol{
    height: 0;
    overflow:hidden;
    transition-duration: 0.5s;
}

header nav ul > li:nth-child(3) ol li{
    margin: 25px 0;
}
header nav ul > li:nth-child(3) ol li a{
    font-size: 18px;
    font-weight: 300;
    color: #a0a0a0;
}
/* header fin */

footer{
    background-color: #202020;
}
footer > div.inner{
    width: 90%;
    margin: 0 auto;
    padding: 50px 0 70px;
}
footer > div.inner div h2 a{
    width: 115px;
    height: 30px;
    display: block;
    text-indent: -9999px;
    background: url("../images/logo_hitejinro.png") no-repeat left top;
    background-size: contain;
}
footer > div.inner div:after{
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
}
footer > div.inner div{
    padding: 15px 0;
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 15px;
}
footer > div.inner div h2{
    float: left;
}
footer > div.inner div ul{
    float: right;
}
footer > div.inner div ul:after{
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
}
footer > div.inner div ul li{
    float: left;
    width: 23px;
    height: 23px;
    margin: 2px 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
footer > div.inner div ul li:first-child{
    background-image: url("../images/ico_facebook_w.png"); }
footer > div.inner div ul li:nth-child(2){
    background-image: url("../images/ico_insta_w.png"); }
footer > div.inner div ul li:nth-child(3){
    background-image: url("../images/ico_twitter_w.png"); }
footer > div.inner div ul li:last-child{
    background-image: url("../images/ico_blog_w.png"); }
footer > div.inner div ul li a{
    display: block;
    text-indent: -9999px;
}
footer > div.inner p, footer > div.inner address{
    font-size: 16px;
    line-height: 26px;
    color: #a0a0a0;
    font-style: normal;
} 
footer > div.inner address a{
    color: #a0a0a0;
}
/* all using*/

@media screen and (max-width: 767px){
    header nav{
        padding: 100px 10% 0 0;
        width: 100%;
        right: -100%;
    }
    header nav ul > li.active a{
        color: #daa520;
    }
    header nav ul > li:nth-child(3).active ol{
        height: 180px;
    }
    header nav ul > li:nth-child(3).active ol li a{
        font-weight: 400;
        color: #e3e3e3;
    }
    /* header fin */

    footer > div.inner address{
        margin-bottom: 10px;
    }
    /* footer fin */
}
@media screen and (min-width:768px){
    header nav{
        padding: 170px 5% 0 0;
        width: 20%;  
    }
    
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    header nav{
        right: -40%;
    }
    header nav ul > li.active a{
        color: #daa520;
    }
    header nav ul > li:nth-child(3).active ol{
        height: 180px;
    }
    header nav ul > li:nth-child(3).active ol li a{
        font-weight: 400;
        color: #e3e3e3;
    }
}
@media screen and (min-width: 1025px){
    header nav{
        right: -30%;
    }
    header nav ul > li:hover a{
        color: #daa520;
    }
    header nav ul > li:nth-child(3):hover ol{
        height: 180px;
    }
    header nav ul > li:nth-child(3):hover ol li a:hover{
        font-weight: 400;
        color: #fff;
    }
}
/* PC */